body {
  font-family: arial, sans-serif;
}

form {
  padding: 25px 0px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color:blueviolet
}
a.footer {
  color:blueviolet
}
.weather-app-wrapper {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 250px;
  right: 200px;
  height: 500px;
  max-width: 550px;
  min-width: 550px;
  padding: 5px 25px 5px 25px;
  background-color: rgba(247, 241, 239, 0.5);
  backdrop-filter: blur(6px);
  backdrop-filter: opacity(35px);
  border: 0.01px solid rgb(231, 231, 231);
  border-radius: 50px;
  box-shadow: 3px 8px 20px rgb(58 51 51 / 60%);
}

.weather-app {
  padding: 20px;
  
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.row{
    padding: 15px 0px;
}
