body {
  font-family: arial, sans-serif;
}

form {
  margin: 5px 0px 25px ;
}

h1 {
  color: rgb(80, 64, 119);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px;
  padding: 5px;
  color: rgb(126, 102, 142);
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a{
  color: rgb(80, 64, 119);
  text-decoration: none;
}
a:hover{
  color:rgb(57, 11, 221)
}
a.footer {
  color:rgb(126, 102, 142)
}
.weather-app-wrapper {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 250px;
  right: 200px;
  height: 500px;
  max-width: 550px;
  min-width: 550px;
  padding: 5px 25px 5px 25px;
  background-color: rgba(247, 241, 239, 0.5);
  backdrop-filter: blur(6px);
  backdrop-filter: opacity(35px);
  border: 0.01px solid rgb(231, 231, 231);
  border-radius: 50px;
  box-shadow: 3px 8px 20px rgb(58 51 51 / 60%);
}

.weather-app {
  padding: 20px;
  
}

.overview {
  margin-bottom: 20px;
}

.search-button,
.city-bar {
  border: 1px solid rgb(126, 102, 142);
  border-radius: 25px;
  padding: 5px 15px;
  color: rgb(126, 102, 142);
  background-color: transparent;
}

.city-bar {
  width: 50%;
}
.search-button {
  transition: all 200ms ease-in-out;
  width: 20%;
}

.search-button:hover {
  color: white;
  background-color: rgb(126, 102, 142);
}

.weather-temperature img {
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: rgb(80, 64, 119);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  margin-left: 20px;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top:  30px;
  text-align: center;
  color: rgb(52, 38, 88);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 15px;
}





